body {
    background-color: rgb(177, 177, 177);
}

.large-font {
    font-size: 17px; /* Atau ukuran lain yang diinginkan */
  }

.gab, .gab1 {
    padding: 0.5rem;
    display: flex;
    justify-content: left;
    margin-top: 5px;
    border-radius: 20px;
}

.gab2 {
    padding: 2rem;
    display: flex;
    justify-content: left;
    margin-top: 50px;
    border-radius: 30px;
}

.gab {
    background-color: rgb(145, 216, 103);
}

.gab1, .gab2 {
    background-color: rgb(94, 255, 0);
    border-radius: 40px;
}

.gab-size {
    padding: 1rem;
    width: 80px;
    height: 80px;
}

.gab-text, .gab-text1, .gab-link {
    padding: 0.5rem;
    font-size: 20px;
    text-decoration: none;
}

.gab-text {
    margin-top: 0.2rem;
}

.gab-text1 {
    padding: 0rem;
    margin-top: 0rem;
    margin-left: 12px;
}

.gab-link {
    padding: 1rem;
    margin-top: 1rem;
    border-bottom: 10px;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 70%;
    }
}

/* Smartphone */
@media (max-width: 450px) {
    html {
        font-size: 40%;
    }
}

/* Media Queries untuk iPhone dan Android */

/* iPhone 5/SE */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    html {
        font-size: 40%;
    }

    .navbar, .hero, .about, .kontak {
        padding: 0.5rem;
    }

    .hero .content h1 {
        font-size: 2em; /* Menyesuaikan ukuran teks */
    }

    .hero .content p {
        font-size: 1rem; /* Menyesuaikan ukuran teks */
    }

    .about .row, .kontak .row {
        flex-direction: column;
    }

    .about .row .about-img img, .kontak .row form {
        width: 100%;
    }
}

/* iPhone 6/7/8/X */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) {
    html {
        font-size: 45%;
    }

    .navbar, .hero, .about, .kontak {
        padding: 0.8rem;
    }

    .hero .content h1 {
        font-size: 2.5em; /* Menyesuaikan ukuran teks */
    }

    .hero .content p {
        font-size: 1.2rem; /* Menyesuaikan ukuran teks */
    }

    .about .row, .kontak .row {
        flex-direction: column;
    }

    .about .row .about-img img, .kontak .row form {
        width: 100%;
    }
}

/* Android (berbagai ukuran umum) */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
    html {
        font-size: 50%;
    }

    .navbar, .hero, .about, .kontak {
        padding: 0.8rem;
    }

    .hero .content h1 {
        font-size: 2.5em; /* Menyesuaikan ukuran teks */
    }

    .hero .content p {
        font-size: 1.2rem; /* Menyesuaikan ukuran teks */
    }

    .about .row, .kontak .row {
        flex-direction: column;
    }

    .about .row .about-img img, .kontak .row form {
        width: 100%;
    }
}