body {
    background-color: rgb(95, 95, 95);
}

:root {
    --Terbaru: rgb(154, 221, 115);
    --last: rgb(94, 255, 0);
    --Event: rgb(204, 255, 86);
}

.h3-link {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0px;
}

.back-button {
    position: fixed;
    top: 5px;
    left: 1260px;
    background-color: rgba(255, 255, 255, 0.747);
    color: #333;
    padding: 0px 6px;
    border-radius: 6px;
    font-size: 17px;
    z-index: 1000; /* Pastikan tombol kembali muncul di atas semua elemen lain */
}

.back-button a {
    text-decoration: none;
    color: inherit; /* Mewarisi warna dari elemen induk */
}



.large-font {
    font-size: 17px; /* Atau ukuran lain yang diinginkan */
  }

.gab, .gab1, .gab2, .gab3 {
    padding: 0.5rem;
    display: flex;
    justify-content: left;
    margin-top: 5px;
    border-radius: 20px;
    position: relative;
}

.gab2 {
    padding: 2rem;
    display: flex;
    justify-content: left;
    margin-top: 50px;
    border-radius: 30px;
}

.gab {
    background-color: var(--Terbaru);
}

.gab1, .gab2 {
    background-color: var(--last);
    border-radius: 40px;
}

.gab3 {
    background-color: var(--Event);
    border-radius: 45px;
}

.gab-size {
    padding: 1rem;
    width: 70px;
    height: 70px;
}

.gab-text, .gab-text1, .gab-link {
    padding: 0.5rem;
    font-size: 20px;
    text-decoration: none;
}

.gab-text {
    margin-top: 0.2rem;
}

.gab-text1 {
    padding: 0rem;
    margin-top: 0rem;
    margin-left: 12px;
}

.gab-link {
    padding: 1rem;
    margin-top: 1rem;
    border-bottom: 10px;
    transition: transform 0.3s ease-in; /* Menambahkan transisi untuk efek animasi */
}

.gab-link:active {
    transform: rotate(-2deg); /* Menambahkan efek miring */
    transition: transform 0.3s;
}

/* Updated css */

.gab .updated-date, .gab .updated-date, .gab2 .updated-date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f8f9fa; /* Warna latar belakang */
    color: #333; /* Warna teks */
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
  }

/* Media Queries */@media only screen and (max-width: 480px) {
    .gab, .gab2 {
        padding: 1rem;
        display: block; /* Mengubah tata letak flex menjadi block untuk lebih responsif */
        margin-top: 10px;
        border-radius: 10px;
    }

    .gab-text, .gab-text1, .gab-link {
        font-size: 15px; /* Mengurangi ukuran font untuk layar yang lebih kecil */
        padding: 0.2rem;
    }

    .gab-size {
        width: 25%; /* Mengubah lebar menjadi 100% untuk memanfaatkan lebar layar */
        height: auto; /* Menyesuaikan tinggi secara otomatis */
    }

    .gab-link {
        padding: 0.8rem;
        margin-top: 0.5rem;
        border-bottom: 5px; /* Mengurangi ketebalan border */
    }

    .updated-date {
        font-size: 0.7em; /* Mengurangi ukuran font untuk elemen tanggal yang diperbarui */
    }

    .back-button {
        position: fixed;
        top: 5px;
        left: 290px;
        font-size: 18px;
    }
}
